'context-menu':
  'atom-text-editor': [
    {label: 'Preview HTML', command: 'atom-code-preview:toggle'}
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Preview HTML'
      'submenu': [
        { 'label': 'Enable Preview', 'command': 'atom-code-preview:toggle' }
      ]
    ]
  }
]
